

.hero-actions {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 806px;
  	text-align: left;
  	font-size: 72px;
  	color: #1e1e1e;
  	font-family: Inter;
}
.formal-picture-1 {
  	position: absolute;
  	top: 120px;
  	left: 210px;
  	border-radius: 29px;
  	width: 389px;
  	height: 518px;
  	object-fit: cover;
    object-position: center 20%;
}
.text-content-title {
  	position: absolute;
  	top: 200px;
  	left: 650px;
  	width: 702px;
  	height: 198px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.title {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.03em;
  	line-height: 120%;
}
.aspiring {
  	margin: 0;
}
.subtitle {
  	width: 777px;
  	position: relative;
  	font-size: 20px;
  	line-height: 120%;
  	color: #757575;
  	text-align: right;
  	display: flex;
  	align-items: center;
  	height: 79px;
  	flex-shrink: 0;
}





